body {
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 18px;
}


h1, h3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h4 {
  text-align: center;
  font-family:'Open Sans Condensed', sans-serif;
}

#whistler {
  display: none;
  background-image: url("http://i.imgur.com/VboCwhS.png");
  text-align: center;
  padding: 50px 20px 50px 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  border: 3px solid white;
  color: white;
}

#thailand {
  display: none;
  background-image: url("http://i.imgur.com/oitStby.png");
  text-align: center;
  padding: 50px 20px 50px 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  border: 3px solid white;
  color: white;
}

#shasta {
  display: none;
  background-image: url("http://i.imgur.com/nwtkHTH.png");
  text-align: center;
  padding: 50px 20px 50px 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  border: 3px solid white;
  color: white;
}

#london {
  display: none;
  background-image: url("http://i.imgur.com/P2IilRH.png");
  text-align: center;
  padding: 50px 20px 50px 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  border: 3px solid white;
  color: white;
}

.blueBackground {
  background-color: #BFE3FF;
  padding-bottom: 50px;
}

/* Buttons
======================*/

#anotherSuggestion {
  display:none;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

.btn-primary {
  background-color: #2290E5;
  color: white;
  border: none;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: white;
  color: #2290E5;
  border: none;
}

.centerButton {
  margin: auto;
  text-align: center;
}

.centerButton .btn {
  background-color: white;
  color: #2290E5;
  border: 2px solid #2290E5;
  margin-top: 15px;
}

.centerButton .btn:hover {
  background-color: #0F4066;
  color: white;
  border: 2px solid #0F4066;
  margin-top: 15px;
}
