body {
  background-color: #d3d3d3;
}

h1 {
  font-size: 70px;
}

h2 {
  margin: 0px;
}

ol {
  list-style-position: inside;
  text-indent: 30px;
}

.leftColumn h3 {
  color: #ffffb2;
}

.leftColumn p {
  color: white;
}

.header {
  background-color: #ffffb2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.formContent {
  padding-top: 80px;
  background-color: #d3d3d3;
}

.leftColumn {
  float: left;
  margin-top: 35px;
  margin-right: 70px;
  padding: 30px 60px 1000px 30px;
  background-color: #90c590;
  /*padding-bottom: 600px;*/
}
